*
{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
h2
{
    background-color: rgb(14, 139, 14);
    width: 100%;
    padding: 1rem;
    border-radius: .5rem;
}
h3
{
    min-width: 50%;
    width: auto;
    border: 2px solid rgba(74, 148, 74, 0.874);
    border-radius: 6px;
    color: #4CAF50;
    margin-top: 1rem;
    margin-bottom: 1rem;
    padding: 0.5rem;
}
.container
{
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 2.5rem;
    /* justify-content: center; */
    min-height: 80vh;
    height: auto;
    border-radius: 1rem;
    min-width: 45vw;
    width: auto;
    background-color: rgb(218, 210, 222);
}
form
{
    display: flex;
    margin: 1rem;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    background-color: rgba(206, 224, 230, 0.801);
    min-width: 97%;
    max-width: 100%;
    padding: 1rem;
    border-radius: 0.5rem;
    box-shadow: 0 2px 8px rgba(0,0,0,0.15);
    max-width: 500px;
}

input[type="text"]
{
    width: 80%;
    height: 2.5rem;
    background-color: transparent;
    border: none;
    padding: 8px;
    border: 1px solid rgba(0, 0, 0, 0.311);
    /* border: 1px solid whitesmoke; */
    border-radius: 0.2rem;
}
input[type="text"]:focus
{
    outline: none;
    border-color: rgba(0, 0, 0, 0.589);
    box-shadow: 0 0 5px rgba(0, 0, 0, 0.3);
    color: rgba(23, 22, 22, 0.817);
}
/* Hide the default radio */
input[type="radio"] {
  appearance: none; /* removes the default browser style */
  -webkit-appearance: none;
  -moz-appearance: none;
  width: 15px;
  height: 15px;
  border-radius: 50%;
  border: 1.5px solid #555;
  background-color: transparent; /* color when NOT checked */
  cursor: pointer;
  transition: 0.3s;
}

/* Change background when checked */
input[type="radio"]:checked {
  background-color: #4CAF50; /* green when checked */
  border: 3px solid whitesmoke;
  accent-color: green;
}
.submit-button
{
    margin-top: 1rem;
    padding: 0.5rem 1rem;
    background-color: rgb(14, 139, 14);
    color: white;
    border: none;
    border-radius: 0.3rem;
    cursor: pointer;
    transition: background-color 0.3s ease;
}
.submit-button::selection
{
    background-color: rgb(8, 90, 8);
}
.all-vehicles
{
    display: flex;
    flex-direction: column;
    gap: 10px;
    width: auto;
    margin: 30px;
    height: auto;
}
.vehicle{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    padding: 0 30px;
width: auto;
min-width: 500px;
height: 3rem;
color: aliceblue;
background-color: red;
border-radius: 16px;
align-items: center;
}